*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Tag */
html,body{
    margin: 0 auto;
    max-width: 1280px;
    /* border: 1px solid red; */
}

header{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: center;
}

header span{
    border: 5px solid black;
    border-radius: 15px;
    background-color: yellow;
    padding: 0px 10px;
    font-size: 45px;
    font-weight: 700;
}

header h1{
    font-weight: bold;
}

header p{
    font-weight: bold;
}

/* Class */
.content{
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
}